In [27]:
import pandas as pd

# 读取原始数据
data = pd.read_csv('test_peek_data.csv', delimiter=',')
data

,3,4,5,6,7,8,9,10,11,12,...,15,16,17,J1,J2,J3,M1,M2,M3,label
0,159,0,33,7,86,0,244,6,111,0,...,228,1,98,159,86,111,1825,1780,2032,2
1,159,0,27,7,86,0,242,6,111,0,...,228,1,83,159,86,111,1819,1778,2025,2
2,159,0,23,7,86,0,241,6,112,0,...,228,1,74,159,86,112,1815,1777,2020,2
3,159,0,24,7,86,0,238,6,112,0,...,228,1,65,159,86,112,1816,1774,2013,2
4,159,0,23,7,86,0,237,6,112,0,...,228,1,58,159,86,112,1815,1773,2008,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,151,0,212,8,54,0,213,6,76,0,...,228,1,108,151,54,76,2260,1749,1683,3
79996,151,0,199,8,54,0,212,6,76,0,...,228,1,89,151,54,76,2247,1748,1678,3
79997,151,0,179,8,54,0,216,6,76,0,...,228,1,72,151,54,76,2227,1752,1677,3
79998,151,0,169,8,54,0,212,6,76,0,...,228,1,58,151,54,76,2217,1748,1677,3
79999,151,0,140,8,54,0,207,6,76,0,...,228,1,30,151,54,76,2188,1743,1683,3

In [28]:
# 定义函数以将每个组的数据量缩减到原来的 3/4
def reduce_group_size(group):
    return group.sample(frac=0.25)  # 保留 75% 的数据

# 根据 label 分组并应用函数
reduced_data = data.groupby('label', group_keys=False).apply(reduce_group_size)
reduced_data

,3,4,5,6,7,8,9,10,11,12,...,15,16,17,J1,J2,J3,M1,M2,M3,label
44332,135,0,89,4,66,0,139,4,56,0,...,229,1,224,135,66,56,1113,1163,1259,0
44413,137,0,240,7,65,0,226,7,55,0,...,210,1,42,137,65,55,2032,2018,1873,0
50276,134,0,163,5,64,0,192,5,55,0,...,195,1,43,134,64,55,1443,1472,1498,0
46433,140,0,119,7,66,0,28,7,55,0,...,228,1,111,140,66,55,1911,1820,1728,0
43810,135,0,100,8,65,0,255,7,56,0,...,226,1,196,135,65,56,2148,2047,1866,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77245,147,0,10,5,52,0,110,6,74,0,...,228,1,26,147,52,74,1290,1646,1661,3
68099,150,0,245,4,56,0,103,5,77,0,...,228,1,51,150,56,77,1269,1383,1451,3
79851,152,0,231,4,56,0,10,6,77,0,...,228,1,31,152,56,77,1255,1546,1535,3
71881,145,0,54,5,53,0,118,5,75,0,...,228,1,185,145,53,75,1334,1398,1514,3
79528,153,0,118,5,55,0,62,5,74,0,...,228,1,19,153,55,74,1398,1342,1331,3

In [29]:
# 保存处理后的数据到新的 CSV 文件
reduced_data.to_csv('new_test_peek_data.csv', index=False)